:root {
    /* COLORS RGB */
    --var-yellow-color: 244, 208, 78;
    --var-gray-950-color: 17, 17, 17;
    --var-gray-500-color: 107, 107, 107;
    --var-white-color: 255, 255, 255; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(var(--var-yellow-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: rgb(var(--var-gray-950-color));
    font-family: "Figtree", sans-serif; 

    p, h1 {
        margin: 0;
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(var(--var-white-color));
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0.5rem 0.5rem 0 rgb(var(--var-gray-950-color));
    width: 384px;
    height: 522px;
    margin-top: 20rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px;
}

.card-blog-image img {
    border-radius: 10px;
    width: 336px;
    height: 200px;
}

.card-content {
    width: 336px;
    height: 194px;
    margin: 0;
}

.card-content > *:not(:first-child) {
    margin-top: 12px;
}

.category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--var-yellow-color));
    border-radius: 4px;
    width: 82px;
    height: 29px;

    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px; 
    font-weight: 800;
    font-style: normal;
}



.content-publish-date {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px; 
    font-weight: medium;
    font-style: normal;
}

h1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px; 
    font-weight: 800;
    font-style: normal;
}

.content-description {
    width: 336px;
    height: 72px;
    color: rgb(var(--var-gray-500-color));
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px; 
    font-weight: medium;
}

.author-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 129px;
    height: 32px;
    gap: 12px;
    margin: 0;

    img {
        width: 32px;
        height: 32px;
    }

    p {
        width: 85px;
        height: 21px;
        margin: 0;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0px; 
        font-weight: 800;
    }


}



.attribution {
    font-size: 11px;
    text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
}