:root {
    /* COLORS in RGB */
    --var-color-green: 196, 248, 42; 
    --var-color-white: 255, 255, 255;
    --var-color-grey-700: 51, 51, 51;
    --var-color-grey-800: 31, 31, 31;
    --var-color-grey-900: 20, 20, 20;

    /* SPACING in px */
    --var-spacing-500: 40px;
    --var-spacing-300: 24px;
    --var-spacing-200: 16px;
    --var-spacing-150: 12px;
    --var-spacing-100: 8px;
    --var-spacing-50: 4px;  
}

html {
  line-height: 150%;
  letter-spacing: 0;
  color: rgb(var(--var-color-white));
  h1, p {
    margin: 0;
  }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    background-color: rgb(var(--var-color-grey-900));
    font-family: "Inter", sans-serif;
}

button {
  all: unset; /* Resetuje všechno výchozí stylování */
  display: inline-block; /* Zajistí, že se tlačítko chová jako inline-block */
  cursor: pointer; /* Ukazatel ruky na hover */
  text-align: center; /* Zarovná text na střed */
  border: none; /* Odstraní výchozí rámeček */
  padding: 0; /* Odstraní výchozí odsazení */
  background: none; /* Odstraní výchozí pozadí */
  font: inherit; /* Dědí font z nadřazeného elementu */
  color: inherit; /* Dědí barvu textu */
  line-height: normal; /* Resetuje line-height */
}

/* MAIN SECTION */
.container {
  width: 24rem;
  height: 38.1875rem;
  background-color: rgb(var(--var-color-grey-800));
  border-radius: 0.75rem;
}

.main-container {
  margin: 2.5rem;
}

.personal-info {
  text-align: center;

  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.personal-info .location {
  font-weight: 600;
  color: rgb(var(--var-color-green));
  margin-top: 0.25rem;
}

.personal-info img {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 62rem;
  margin-bottom: 1.5rem;
}

.motto { 
  margin: 1.5rem 0;
  font-weight: 300;
}

.social-links-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 18.0625rem;
}

.social-links-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--var-color-grey-700));
  border-radius: 0.5rem;
  
  color: rgb(var(--var-color-white));
  height: 2.8125rem;

  text-decoration: none;
  font-weight: 600;
  
}

.social-links-container a:hover,
.social-links-container a:active {
  background-color: rgb(var(--var-color-green));
  color: rgb(var(--var-color-grey-900));
  transition: background-color 0.5s ease;
}

/* FOOTER */
.attribution {
    font-size: 0.68rem;
    text-align: center;
  }
  .attribution a {
    color: rgb(var(--var-color-green));
  }